<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <settings>
            <setting name="MasterVariablesReplacer">
                <patch:attribute name="value">Sitecore.Support.Data.MasterVariablesReplacer,Sitecore.Support.130195.dll</patch:attribute>
            </setting>
        </settings>
    </sitecore>
</configuration>